.why {
  background-color: #fafafa;

  text-align: center;
}

.flex-why-container {
  background-color: #fafafa;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.why-image-item img {
  flex: 50%;
  text-align: right;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}
.why-text-item {
  flex: 40%;
  text-align: justify;
  margin: 50px;
}

.why-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
  padding-top: 50px;
}

.why-item {
  width: 30%;
  margin-bottom: 20px;
  font-style: italic;
}
*/ .why-image img {
  width: 70%;
  height: auto;
}
.why h2 {
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 10px;
}

.why-text p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .why-image-item img {
    flex: 100%;
  }
}
